button{
    background-color: #e50914;
    color:#ffffff
}

button:hover{
    background-color: #e50914;
    color:#ffffff
}

img{
    width:100%
}

img:hover{
    cursor:pointer
}

h5{
    color: #ffffff;
}